body {
	font-family: 'Quicksand', serif;
}

header {
	color: #EEEEEE;
	background: #555555;
	padding: 0.5em 0;
}

h1 {
	color: #EEEEEE;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

h1 em {
	color: #66AAEE;
}

.index-title {
	font-family: 'Quicksand', serif;
	font-size: 2.5em;
	font-weight: bold;
}

.index-title em {
	color: #2288DD;
}

nav {
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 0.8em;
}

nav li {
	display: inline;
	color: #EEEEEE;	
	margin-right: 1em;
}

nav a {
	color: #EEEEEE;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	color: #66AAEE;	
	text-decoration: none;
}

main {
	padding: 1.5em;
	background: #AAAAAA;
	padding-top: 0.5em;
	height: 100%;	
}

.paper {
	margin: 0 auto;
	background: #FAFAFA;
	padding: 2em;
	margin: auto;
	max-width: 800px;
	font-family: 'Rokkitt', serif;
}

.paper a {
	font-family: 'Quicksand', serif;
	color: #2288DD;
	font-weight: bold;
	text-decoration: none;
	font-size: 0.8em;
}

.paper a:hover {
	font-family: 'Quicksand', serif;
	color: #555555;
	font-weight: bold;
	text-decoration: none;
}

.paper ol {
	list-style-type: decimal;
	padding-left: 2em;
	padding-top: 0.5em;
}

.paper ol li {
	display: list-item;
}


.summary {
	font-family: 'Quicksand', serif;
}


nav a:hover {
	color: #66AAEE;	
	text-decoration: none;
}

.normal-list li:before {
	content: "📚  ";
}

.normal-list li {
	margin-top: 1em;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 2.5em;	
}

.info {
	margin-top: 0.5em;
}

.info li {
	margin-top: 0.2em;
	font-weight: bold;
	color: #AAAAAA;
}

p.info {
	margin-top: 0.5em;
	font-weight: bold;
	color: #AAAAAA;
}

.summary {
	margin-top: 0.5em;
}

.translation-pair {
	display: inline-block; 
	/*border: solid;*/
	margin: 2em 0 0 0; 
	vertical-align: top;
	width: 300px;
	/*border-style: solid;
	border-width: 1px;*/
}

.translation {
	display: inline-block; 
	/*border: solid;*/
	margin: 0 auto; 
	vertical-align: top;
	text-align: justify;
	/*border-style: solid;
	border-width: 1px;*/
}

h3 {
	font-weight: bold;
	display: inline;
	font-family: 'Quicksand', serif;
}

.language-name {
	text-align: center;
	display: inline;
	font-size: 0.8em;
	vertical-align: baseline;
}

/*
.language-name:before {
	vertical-align: text-top;
	font-size: 0.8em;
	content: "[";

}

.language-name:after {
	vertical-align: text-top;
	font-size: 0.8em;
	content: "]";

}
*/
.content {
	font-family: 'Rokkitt', serif;
	margin-top: 1em;
	font-size: 1.4em;
	line-height: 1.2em;
}

.content p {
	margin-top: 1em;
}

.float-right-image {
	width: 420px;
	float: right;
	margin: 0 0 1em 1em;	
}



.word-list th, .word-list td {
	border-style: solid;
	border-width: 1px;
	padding: 0 0.4em;

}

.word-list th {
	font-weight: bold;
}

.word-list {
	margin: 0 auto;
	font-size: 0.8em;
	margin-top: 1em;
	min-width: 400px;
	max-width: 90%;

}


@media screen and (max-width: 700px) {

	nav {
		position: relative;
		padding-top: 0.8em;
		text-align: center;
	}

	.float-right-image {
		float: none;
		width: 350px;
		margin: 0 auto;
		display: block;
	}
}

@media screen and (max-width: 600px) {



	.float-right-image {
		float: none;
		width: 300px;
		margin: 0 auto;
		display: block;
	}

	main {
		padding: 0.5em;
	}

	.paper {
		padding: 0.8em;
	}


}

@media screen and (max-width: 400px) {

	.float-right-image {
		float: none;
		width: 250px;
		margin: 0 auto;
		display: block;
	}

	.paper {
		max-width: 90%;
		width: 90%;
	}

}
